<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <!-- <img src="/images/camera.svg"> -->
    <a href="/valuables/new" <%- title === 'Add Valuable' ? 'class="active"' : '' %>>Add Valuable</a>
    <a href="/valuables" <%- title === 'All Valuables' ? 'class="active"' : '' %>>All Valuables</a>
  </nav>
  <main>
    <h1><%= title %></h1>