* {
    box-sizing: border-box;
    font-family: Helvetica;
    color: #EAC43D;
    ;
  }
  
  body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      "nav"
      "main"
  }
  h1{
    font-size: 64px;
    color:#A6CD4E;
  }
  
  body > nav {
    grid-area: nav;
    background-color: #EAC43D;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
    font-weight: bold;;
  }
  
  nav > img {
    width: 34px;
    object-fit: contain;
    margin-right: auto;
  }
  
  body > main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242E38;
    padding: 20px;
    overflow-y: scroll;
  }
  
  body > main h1:first-child {
    margin-bottom: 50px;
  }
  
  nav > a {
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #242E38;
  }
  
  nav > a:hover {
    color: #EAC43D;
    background-color: #14c0cc;
  }

  nav > a.active {
    color: #14c0cc;
  }
  label {
    font-size: 24px;
  }
  div{
    color:aliceblue;
  }
  
  #new-form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(auto, 22rem));
  }
  
  #new-form *,  #add-detail-form * {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
  }
  
  #new-form input[type="submit"] {
    grid-column: span 2;
    width: 10rem;
    margin-left: auto;
  }
  
  table {
    font-size: 20px;
  }

  th {
    color: #14c0cc;
    font-size: 35px;
    font-style: oblique;
  }
  
  table thead th {
    padding: 30px;
    border-bottom: 2px solid #424748;
  }
  
  table td {
    padding: 10px;
    text-align: center;
  }
  
  #list td:nth-child(2), #list td:nth-child(3){
    min-width: 100px;
  }
  
  #list a {
    border-radius: 4px;
    background-color: #EAC43D;
    color: #242E38;
    padding: 4px;
    text-decoration: none;
    font-size: 18px;
  }
  
  #list a:hover {
    background-color: #14c0cc;
  }
  
  #show-page {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
  }
  
  #show-page div:nth-child(even) {
    font-weight: bold;
  }
  
   #add-detail-form {
     display: grid;
     grid-template-columns: auto auto;
     grid-gap: 1rem;
   }
   #add-detail-form input[type="submit"] {
     width: 8rem;
     grid-column: 2 / 3;
     margin-bottom: 2rem;
     color:#424748;
   }