<%- include('../partials/header') %>

<form id="new-form" action="/valuables" method="POST">
  <label>Make:</label>
  <input type="text" name="make">
  <label>Model:</label>
  <input type="text" name="model">
  <label>Type:</label>
  <input type="text" name="valuableType">
  <label for="datePurchased">Date Purchased</label>
  <input type="date" id="datePurchased"
               name="datePurchased" value="01-13-1985"/>
  <input type="submit" value="Add Valuable">
</form>

<%- include('../partials/footer') %>